<main class="min-h-screen flex items-center justify-center bg-gray-50 p-10">
  <section
    class="flex flex-col items-center justify-center gap-6 w-full max-w-2xl bg-white rounded-lg shadow-lg p-12 overflow-visible">
    <i class="fa-solid fa-circle-check text-green-600 text-[96px]"></i>
    <h1 class="font-bold text-5xl text-center">{{ 'ORDER_SUCCESS.TITLE' | translate }}</h1>
    <h3 class="font-medium text-2xl text-center mb-10">
      {{ 'ORDER_SUCCESS.SUBTITLE' | translate }}
    </h3>

    <div *ngIf="orderSummary" class="w-full bg-gray-100 p-8 rounded-lg shadow-md text-gray-700"
      style="font-size: 18px;">
      <h2 class="text-3xl font-semibold mb-6">{{ 'ORDER_SUCCESS.SUMMARY_TITLE' | translate }}</h2>

      <p><strong>{{ 'ORDER_SUCCESS.ORDER_NUMBER' | translate }}</strong> #{{ orderSummary.orderNumber }}</p>
      <p><strong>{{ 'ORDER_SUCCESS.PAYMENT_METHOD' | translate }}</strong> {{ orderSummary.paymentMethod }}</p>
      <p><strong>{{ 'ORDER_SUCCESS.ORDER_STATUS' | translate }}</strong> {{ orderSummary.orderStatus }}</p>
      <p><strong>{{ 'ORDER_SUCCESS.CREATED_AT' | translate }}</strong> {{ orderSummary.createdAt | date:'medium' }}</p>

      <div class="my-6 border-t border-gray-300"></div>

      <h3 class="font-semibold mb-3">{{ 'ORDER_SUCCESS.SHIPPING_ADDRESS' | translate }}</h3>
      <p>{{ orderSummary.orderAddressInfo }}</p>

      <div class="my-6 border-t border-gray-300"></div>

      <p><strong>{{ 'ORDER_SUCCESS.DISCOUNT' | translate }}</strong> {{ orderSummary.discountValue | number:'1.2-2' }}
        LE</p>
      <p><strong>{{ 'ORDER_SUCCESS.SHIPPING_COST' | translate }}</strong> {{ orderSummary.shippingCost | number:'1.2-2'
        }} LE</p>
      <p><strong>{{ 'ORDER_SUCCESS.ORDER_PRICE' | translate }}</strong> {{ orderSummary.orderPrice | number:'1.2-2' }}
        LE</p>

      <div class="my-6 border-t border-gray-300"></div>

      <p><strong>{{ 'ORDER_SUCCESS.TOTAL_PRICE' | translate }}</strong> {{ orderSummary.totalOrderPrice | number:'1.2-2'
        }} LE</p>
    </div>

    <a (click)="continueShopping()"
      class="uppercase whitespace-nowrap flex items-center justify-center gap-3 rounded-sm bg-black text-white px-4 py-2 w-48 transition hover:bg-transparent hover:text-black hover:border hover:border-black mt-8">
      {{ 'ORDER_SUCCESS.CONTINUE_SHOPPING' | translate }}
    </a>

  </section>
</main>