<main class="min-h-screen flex items-center justify-center bg-gray-50 p-10">
  <section
    class="flex flex-col items-center justify-center gap-6 w-full max-w-2xl bg-white rounded-lg shadow-lg p-12 overflow-visible"
  >
    <i class="fa-solid fa-circle-check text-green-600 text-[96px]"></i>
    <h1 class="font-bold text-5xl text-center">Order Placed Successfully</h1>
    <h3 class="font-medium text-2xl text-center mb-10">
      Thank you for your purchase! Your order is being processed.
    </h3>

    <div
      *ngIf="orderSummary"
      class="w-full bg-gray-100 p-8 rounded-lg shadow-md text-gray-700"
      style="font-size: 18px;"
    >
      <h2 class="text-3xl font-semibold mb-6">Order Summary</h2>

      <p><strong>Order Number:</strong> #{{ orderSummary.orderNumber }}</p>
      <p><strong>Payment Method:</strong> {{ orderSummary.paymentMethod }}</p>
      <p><strong>Order Status:</strong> {{ orderSummary.orderStatus }}</p>
      <p><strong>Created At:</strong> {{ orderSummary.createdAt | date:'medium' }}</p>

      <div class="my-6 border-t border-gray-300"></div>

      <h3 class="font-semibold mb-3">Shipping Address</h3>
      <p>{{ orderSummary.orderAddressInfo }}</p>

      <div class="my-6 border-t border-gray-300"></div>

      <p><strong>Discount:</strong> {{ orderSummary.discountValue | number:'1.2-2' }} LE</p>
      <p><strong>Shipping Cost:</strong> {{ orderSummary.shippingCost | number:'1.2-2' }} LE</p>
      <p><strong>Order Price:</strong> {{ orderSummary.orderPrice | number:'1.2-2' }} LE</p>

      <div class="my-6 border-t border-gray-300"></div>

      <p><strong>Total Price:</strong> {{ orderSummary.totalOrderPrice | number:'1.2-2' }} LE</p>
    </div>

    <a
  (click)="continueShopping()"
  class="uppercase whitespace-nowrap flex items-center justify-center gap-3 rounded-sm bg-black text-white px-4 py-2 w-48 transition hover:bg-transparent hover:text-black hover:border hover:border-black mt-8"
>
  Continue Shopping
</a>

  </section>
</main>
