<nav class="flex justify-center mt-6">
  @if(totalPages > 1) {
  <ul class="flex items-center gap-1">
    <!-- زر السابق -->
    <li>
      <button
        class="px-3 py-1 rounded-md text-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        [disabled]="PageNumbers()[0] === 1"
        (click)="prevWindow()"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
    </li>

    <!-- أرقام الصفحات -->
    <li *ngFor="let page of PageNumbers()">
      <button
        class="px-3 py-1 rounded-md text-sm transition-colors"
        [ngClass]="{
            ' text-black hover:bg-gray-100': page === currentPageIndex,
            ' text-gray-300  hover:bg-gray-100': page !== currentPageIndex
          }"
        (click)="changePage(page)"
      >
        {{ page }}
      </button>
    </li>

    <!-- زر التالي -->
    <li>
      <button
        class="px-3 py-1 rounded-md text-sm hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        [disabled]="PageNumbers()[PageNumbers().length - 1] >= totalPages"
        (click)="nextWindow()"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </li>
  </ul>
  }
</nav>
